var-bg = hsl(359, 0, 90%)

var-node            = hsl(255, 100%, 100%)
var-node-error      = hsla(0, 100%, 50%, 0.94)
var-node-hover      = #fff
var-node-border     = none
var-node-border-bg  = none
var-node-hover-border = hsl(0, 0%, 50%)
var-node-icon       = hsl(194, 8%, 25%)
var-node-icon-big   = hsl(194, 8%, 80%)
var-node-icon-small = hsl(194, 8%, 10%)

var-node-selected        = $fff
var-node-selected-border = hsl(0, 0%, 50%)
var-node-selected-icon   = hsl(194, 8%, 20%)
var-node-deselected      = #fff
var-node-deselected-border = hsl(0, 0%, 50%)
var-node-deselected-icon = hsl(194, 8%, 75%)

var-export-bg = hsl(0, 0%, 90%)

var-type-a = black
var-type-b = hsl(188, 6%, 5%)
var-text-bg = #3C3F47
var-tooltip-bg = hsla(0, 0%, 100%, 0.9)

var-selection-box        = hsla(0, 0%, 50%, 0.15)
var-selection-box-hover  = hsla(0, 0%, 40%, 0.25)
var-selection-box-border = hsl(0, 0%, 50%)

var-menu-modal-bg = hsla(0, 0%, 100%, 0.5)
var-menu-bg       = hsla(211, 12%, 89%, 0.95)
var-menu-bg-hover = hsla(211, 12%, 79%, 0.95)
var-menu-border   = hsl(0, 0%, 25%)
var-menu-icon-bg  = hsl(211, 12%, 89%)

var-edge-bg = hsl(194, 8%, 25%)
var-edge-hover-bg = hsl(0, 0%, 50%)
var-edge-width = 4px

@require "./the-graph-spectrum"
